{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% if collection_handle == "" %}
<div id="product-loop-{{ product.handle }}" class="product{% cycle 'featured': '', '', '', ' last' %}">
  <div class="image">
    <a href="{{ product.url }}"><img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape  }}" /></a>
  </div>
  <div class="details clearfix">
    <a href="{{ product.url }}">
      <span class="title">{{ product.title }}</span>
    </a>
  </div>
</div>
{% else %}
<div id="product-loop-{{ product.handle }}" class="product{% cycle 'featured': '', '', '', ' last' %}">
  <div class="image">
    <a href="/collections/{{ product-loop }}{{ product.url }}"><img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape  }}" /></a>
  </div>
  {% if settings.use_caption %}
  <div class="caption clearfix">
    <a href="/collections/{{ product-loop }}{{ product.url }}">
      <span class="title">{{ product.title }}<br />
        <small class="price{% if product.compare_at_price > product.price %} sale{% endif %}">
      {{ product.price | money }}{% if product.compare_at_price > product.price %} <del>was {{ product.compare_at_price | money }}</del>{% endif %}          
        </small>
      </span>
    </a>
  </div>
  {% else %}
  <div class="details clearfix">
    <a href="/collections/{{ product-loop }}{{ product.url }}">
      <span class="title">{{ product.title }}</span>
    </a>
  </div>
  {% endif %}
</div>
{% endif %}
{% cycle 'clear-table': '', '', '', '<div style="clear:both;"></div>' %}