<div id="product-slide-{{ product.handle }}" class="product small{% if forloop.last %} last{% endif %}">
  <div class="image">
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" title="{{ product.featured_image.alt | escape  }}" />
    </a>
  </div>
  <div class="details">
    <a href="{{ product.url | within: collection }}">
      <span class="title">{{ product.title }}</span>
      <div class="extras clearfix">
        <span class="description">{{ product.price_min | money }}</span>
        <span class="view">view details</span>
      </div>
    </a>
  </div>
</div>