<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{ canonical_url }}" /> 
  {% if template == 'index' %}
    <title>{{ shop.name }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {{ content_for_header }}

  {% if template == 'index' and shop.description != '' %}
    <meta name="description" content="{{ shop.description }}" />
  {% endif %}
  <meta name="author" content="">

  {{ 'reset.css' | asset_url | stylesheet_tag }}
  {{ 'shop.css' | asset_url | stylesheet_tag }}

  <!--[if IE]>
  {{ 'ie.css' | asset_url | stylesheet_tag }}
  <![endif]-->
  <!--[if lt IE 7 ]>
  {{ 'ie6.css' | asset_url | stylesheet_tag }}
  <![endif]-->

  {{ 'modernizr.js' | asset_url | script_tag }}

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'ajaxify-shop.js' | asset_url | script_tag }}

  {{ 'jquery-ui-1.8.6.js' | asset_url | script_tag }}
  {{ 'jquery.cookie.js' | asset_url | script_tag }}
  {{ 'jquery.slider.js' | asset_url | script_tag }}
  {{ 'cloud-zoom.js' | asset_url | script_tag }}
  {{ 'shop.js' | asset_url | script_tag }}
  
  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {% if settings.typeface_method == "cufon" %}
    {{ 'cufon.js' | asset_url | script_tag }}
    {% if settings.cufon_font == "LeagueGothic" %}{{ 'LeagueGothic.font.js' | asset_url | script_tag }}{% endif %}
    {% if settings.cufon_font == "Museo" %}{{ 'Museo.font.js' | asset_url | script_tag }}{% endif %}
    {% if settings.cufon_font == "Conqueror" %}{{ 'Conqueror.font.js' | asset_url | script_tag }}{% endif %}
    {% if settings.cufon_font == "Raleway" %}{{ 'Raleway.font.js' | asset_url | script_tag }}{% endif %}
    {% if settings.cufon_font == "StMarie" %}{{ 'StMarie.font.js' | asset_url | script_tag }}{% endif %}

    <script type="text/javascript"> 
      Cufon.replace('h1,h2,h3,h4,h5,h6', {hover: true});
      Cufon.replace('a.cufon, a .cufon, .cufon a', {hover: true});
    </script>
  {% endif %}

  {% if settings.typeface_method == "google_webfonts" %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family={{ settings.google_webfont_font }}">
  {% endif %}

  <script type="text/javascript">
    Shopify.money_format = "{{ shop.money_format }}";
    Shopify.currency = "{{ shop.currency }}";
  </script>

</head>

<body>
  <div class="wrapper">
    
    {% include 'header' %}

    <section id="body" class="clearfix">
      {{ content_for_layout }}
    </section> <!-- /#body -->

    {% include 'footer' %}
    
  </div> <!-- /.wrapper -->
</body>
</html>