.product-detail.clearfloat
  .inner.clearfloat
    .product-detail-inner.left.cleafloat.type1
      .imageInner.clearfloat
        .imageContainer
          - if product.images.size > 0
            %a{:href => product.handle}
              = image_tag product.images.first.src, alt: product.title
        .imageNav
          .imageThumbs.clearfloat
            .imageThumbsContainer.clearfloat
              - for image in product.images
                %a{:href => "#"}
                  = image_tag image.small

    .product-detail-inner.right.clearfloat
      %form
        %h1.title .
        %p.description
          = raw product.descrip
          / TODO: Need to use the variant for the price.
          %span.price= money variant.price, true
          = render partial: 'shared/size_selector', locals: {product: product}
          = render partial: 'shared/colour_selector', locals: {product: product}
        %a.sizechart{:href => "#"} Size information
        .add-to
          %input{type: "button", value: "Add to cart", prodvar: variant.id}
      / #related-items
      /   = render :partial => 'shared/related-products'
