<footer>
  <div class="inner clearfloat">
    ..
  </div>
</footer>

<!--
<footer class="clearfix">
  {% if settings.footer_linklist_1.title != "" and linklists[settings.footer_linklist_1].links.size > 0 %}
    <nav>
      <div class="more-info clearfix">
        <span class="upper">{{ linklists[settings.footer_linklist_1].title }}</span>
      </div>
      <ul>
        {% for link in linklists[settings.footer_linklist_1].links %}
        <li><a href="{{ link.url }}"{% if link.active %} class="current"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
      
  {% if settings.contact_phone != "" %}
    <span class="tel">{{ settings.contact_phone }}</span>
  {% endif %}
  
  {% if settings.contact_email != "" %}
    <span class="email"><a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a></span>
  {% endif %}
</footer>
-->