{% assign image_size = 'medium' %}
{% if product.metafields.outfit.productHandles %}

  <h2>{{ heading }}</h2>
  <ul class="related-products"></ul>

  <style type="text/css">
    .outfit-items { list-style-type:none }
    .outfit-items { padding: 0; margin: 0; }
    .outfit-items * { font-size:14px; text-align:center; padding:0 }
    .outfit-items span.title  { border:none; margin:0; line-height:1.8; position: absolute; width: 150px; }
    .outfit-items div.image { }
    .outfit-items li { float:left; margin-right:15px }
    .outfit-items { overflow:hidden }
    .outfit-items span.money { font-size:0.8em }
    .outfit-items li:last-child { margin-right:0 }
  </style>

{% endif %}

<script>!window.jQuery && document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"><\/script>')</script>

{{ 'api.jquery.js' | shopify_asset_url | script_tag }}

<script type="text/javascript" charset="utf-8">
//<![CDATA[
  var items = [];
  
  {% if product.metafields.outfit.productHandles %}
    items = jQuery.trim({{ product.metafields.outfit.productHandles | json }}).split(/[\s,;]+/);
  {% endif %}
  
  if (items.length && items[0] !== '') {
    var list = jQuery('ul.related-products');
    
    for (var i = 0; i < items.length; i++) {
      jQuery.getJSON('/products/' + items[i] + '.js', function(product) {
        var image_tag = "";
        if (product.images.length > 0 && product.images[0] != undefined) {
          image_tag = '<img src="' + product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_{{ image_size }}$1') + '" />';
        }
        list.append('<li><div class="image"><a href="' + product.url +'">"' + image_tag + '"</a></div><span class="title"<a href="' + product.url + '">' + product.title + '</a></span><span class="money">' + Shopify.formatMoney(product.price, '{{ shop.money_format }}') + '</span></li>');
      });
    }
  }  
//]]>
</script>
