#article.clearfix
  .main
    .article-body.clearfix
      .more-info
        %span.upper= article.created_at | date: "%B %d %Y"
        %span.lower= article.created_at | date: "%A at %I:%M %p"
        %h2 = article.title
      .content
        = article.content
- if blog.comments_enabled?
  .sidebar
    #product
      .more-info.clearfix
        - if blog.previous_article
          .fl
            %a{:href => = blog.previous_article, :class => "previous_product"}
              %span.upper Previous
              %span.lower Article
        - end if
        - if blog.next_article
          .fr
        %a{:href => = blog.next_article, :class => "next_product"}
          %span.upper Next
          %span.lower Article
        - end if
    #comments.comments
      - if article.comments.size > 0
        .more-info.clearfix
          .upper Article
          .lower Comments
      - for comment in article.comments
      <div id="comment-{{ comment.id }}" class="comment clearfix">
        %div{:id => "comment-= comment.id", :class => "comment clearfix"}
        .clearfix
          .author
            %h5 = comment.author
          .gravatar
            %span{:class => "email", :style => "display:none;"} = comment.email
              %img{:src => "", :class => "gravatar", :alt => "= comment.author" }
          .content
          = comment.content
      - end for
      - end if
      .comment_form
        - form article
          .more-info.clearfix
            %span.upper Comment
            %span.lower on this article
          - if form.posted_successfully?
            - if blog.moderated?
              .notice.success Successfully posted your comment. It will have to be approved by the blog owner first before showing up.
            - else
              .notice.success Successfully posted your comment.
            - end if
          - end if

        - if form.errors
          .notice.error Not all the fields have been filled out correctly
        - end if

        %input{:type => "text", :id => "comment_author", :name => "comment[author]", :size => "40", :value => "Your name", :class => "replace" - if form.errors contains 'author' :class => "input-error" - end if}
        %input{:type => "text", :id => "comment_email", :name => "comment[email]", :size =>"40", :value => "Your email", :class => "replace" - if form.errors contains 'email' :class="input-error" - end if}
        %textarea{:id => "comment_body", :name => "comment[body]", :cols => "40", :rows => "5", :class => "replace" - if form.errors contains 'body' :class => "input-error" - end if}= form.body

        %input{:type => "submit", :value => "Post comment", :id => "comment-submit"}

        - if blog.moderated?
          .notice Comments have to be approved before showing up
        - end if

        - end form
- end if
- include 'featured-products'