<!--
{% if settings.homepage_banner == "slider" or settings.homepage_banner == "slideshow" %}
    <div class="slider-container">
      {% if settings.homepage_banner == "slider" %}
        <div id="content-scroll" class="scroll">
          <div id="content-slide">
            {% for product in collections[settings.slider_collection].products %}
            {% include 'product-slide' with settings.slider_collection %}
            {% endfor %}
          </div>
        </div>
-->
<!--
        <div class="slider">
          <span class="ui-slider-handle">&nbsp;</span>
        </div> 
-->
<!--
      {% elsif settings.homepage_banner == "slideshow"   %}
        <ul id="slider">
          <li class="slide"><img src="{{ 'slideshow_1.jpg' | asset_url }}" data-url="{{ settings.image_1_link }}" class="slide-img" /></li>
          <li class="slide"><img src="{{ 'slideshow_2.jpg' | asset_url }}" data-url="{{ settings.image_2_link }}" class="slide-img" /></li>
          <li class="slide"><img src="{{ 'slideshow_3.jpg' | asset_url }}" data-url="{{ settings.image_3_link }}" class="slide-img" /></li>
          <li class="slide"><img src="{{ 'slideshow_4.jpg' | asset_url }}" data-url="{{ settings.image_4_link }}" class="slide-img" /></li>
          <li class="slide"><img src="{{ 'slideshow_5.jpg' | asset_url }}" data-url="{{ settings.image_5_link }}" class="slide-img" /></li>
        </ul>
        <div id="slider-empty" style="display:none; padding:120px 0; text-align:center;">
          <h4>Slider is empty</h4>
          If you are the shop owner, <a href="/admin/themes/current/settings">click here</a> to upload images to this slideshow.
        </div>
      {% endif %}
    </div>
 {% endif %}
 -->
 
 <div id="front-page-slides">
    <ul id="slide-show-nav" class="cf">
        <li>..</li>
        <li>..</li>
        <li>..</li>
    </ul>
    <div id="slide-show">
        <ul class="cf">
        
            <li>
                <div class="slide-content"></div>
                <img src="http://upload.wikimedia.org/wikipedia/commons/a/a1/F-117_Nighthawk_Front.jpg">
            </li>
            
            <li>
                <div class="slide-content"></div>
                <img src="http://4.bp.blogspot.com/-xffpMj8mGgE/TqkayKGMv5I/AAAAAAAAhTU/P8wWJ78c3iI/s1600/f-16.jpg">
            </li>
            
            <li>
                <div class="slide-content"></div>
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Two_F-22A_Raptor_in_column_flight_-_(Noise_reduced).jpg/750px-Two_F-22A_Raptor_in_column_flight_-_(Noise_reduced).jpg">
            </li>
            
        </ul>
    </div>
 </div>
 
 <div id="front-page">
    <div class="inner">
    </div>
 </div>
