{% assign repeatCount = 0 %}
    {% for product in collection.products %}
        {% if repeatCount == 0 %}
        <div class="row clearfloat">
            {% include 'product-details' %}
            <div class="inner product-row clearfloat">
        {% endif %}
        
        {% if product.featured_image.src %}
            <a href="#" class="product-thumb" data="{{ product.handle }}"><img src="{{ product.featured_image.src | product_img_url: 'large' }}"></a>
        {% endif %}
        
        {% assign repeatCount = repeatCount | plus: 1 %}
        
        {% if repeatCount == 3 %}
            {% assign repeatCount = 0 %}
                     
        </div>
        </div>
            
        {% endif %}
        
    {% endfor %}

<!-- <div id="collection" class="{{ collection.handle }} clearfix">
  {% if collection.handle == "dot" %}
    <div id="content-table" class="clearfix">
      {% for collection in collections %}
        {% unless collection.all_products_count  == 0 %}
          <div id="product-{{ product.handle }}" class="product{% cycle 'featured': '', '', ' last' %}">
            <div class="image">
              <a href="{{ collection.url }}">
                {% if collection.image %}
                  <img src="{{ collection.image.src | collection_img_url: 'large' }}" alt="{{ collection.image.alt | escape  }}" />
                {% else %}
                  <img src="{{ collection.products.first.featured_image.src | product_img_url: 'large' }}" alt="{{ collection.products.first.featured_image.alt | escape  }}" />
                {% endif %}
              </a>
            </div>
            <div class="details clearfix">
              <a href="{{ collection.url }}">
                <span class="title">{{ collection.title }}</span>
              </a>
            </div>
          </div>
          {% cycle 'clear-table': '', '', '<div style="clear:both;"></div>' %}
        {% endunless %}
      {% endfor %}
    </div>
  {% else %}
    {% paginate collection.products by settings.pagination_limit %}

      <div id="content-table" class="clearfix">
        {% for product in collection.products %}
          {% include 'product-loop' with collection.handle %}
        {% endfor %}
      </div>

      {% if settings.collection_tags and collection.all_tags.size > 0 %}
        <div class="more-info clearfix">
          <span class="upper">Browse</span> 
          <span class="lower">This Collection</span>
        </div>

        <ul class="tags clearfix">
          <li{% unless current_tags %} class="active"{% endunless %}><a href="/collections/{{ collection.handle }}">All</a></li>
          {% for tag in collection.all_tags %}
            {% if current_tags contains tag %}
              <li class="active">{{ tag | link_to_remove_tag: tag }}</li>
            {% else %}
              <li>{{ tag | link_to_tag: tag }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

      <div class="more-info clearfix">
        <div class="fr">
          <span class="upper">&nbsp;</span>
          <span class="lower">{% include 'pagination' %}</span>
        </div>
      </div>
    {% endpaginate %}
  {% endif %}
</div> -->