<div class="product-detail clearfloat">
          <div class="inner clearfloat">
<!--start-->
            <div class="product-detail-inner left cleafloat type1">
              <div class="imageInner clearfloat">
                <div class="imageContainer">
                  <img src="#.jpg" />
                </div>
                <div class="imageNav">
                  -                                        
                  <div class="imageThumbs clearfloat">
                    <div class="imageThumbsContainer clearfloat">
                      <a href="#"><img src="#"></a>
                      <a href="#"><img src="#"></a>
                      <a href="#"><img src="#"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- left -->              
            <div class="product-detail-inner right clearfloat">
              <form>
                <span class="code">#909090</span>     
                <h1 class="title">{{ product.title }}</h1>
                <p class="description">
                  Made from some special fabric<br/>
                  Made from some special
                  <span class="price">{{ product.price | money }}</span>
                </p>
                <div class="select clearfloat">
                  <input name="size" type="hidden">
                  <div class="select-box" for="size">
                    <span>S</span>
                    <div class="options size clearfloat">
                      <ul class="clearfloat">
                        <li class="S">S
                          <!-- <div class="measurements">Measurements</div> -->
                        </li>
                        <li class="M">M
                          <!-- <div class="measurements">Measurements</div> -->
                        </li>
                        <li class="L">L
                          <!-- <div class="measurements">Measurements</div> -->
                        </li> 
                        <li class="XL">XL
                          <!--<div class="measurements">Measurements</div> -->
                        </li>
                      </ul>
                    </div><!-- options -->
                  </div><!-- select-box -->

                  <input name="colour" type="hidden">           
                  <div class="select-box" for="colour">
                    <span>C</span>
                    <div class="options colour clearfloat">
                      <ul class="clearfloat">
                        <li class="R">R</li>
                        <li class="G">G</li> 
                        <li class="B">B</li>
                      </ul>
                    </div><!-- options -->
                  </div><!-- select-box -->
                </div>
                <a href="#" class="sizechart">Size information</a>
                <div class="add-to">
                  <input type="button" value="Add to cart" />
                </div>
              </form>            
              <div id="related-items">
                {% include 'related-products' %}
              </div><!-- related items -->
            </div><!-- left -->
<!--end-->
          </div><!-- inner -->
        </div><!-- product detail -->

<!--<div id="product" class="{{ product.handle }}{% if product.images.size == 1 %} one_image{% endif %} clearfix">
  
  <div class="product_body clearfix">
    <div class="images">
      <div class="featured">
        <div class="image">
          <a href="{{ product.featured_image.src | product_img_url: 'original' }}" class="cloud-zoom" rel="position: 'inside', showTitle: 'false'" id="placeholder"><img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" /></a>
        </div>
      </div> <!-- /.featured -->
<!--
      {% if product.images.size > 1 %}
        <div class="thumbs clearfix">
          {% for image in product.images %}
            <div class="image">
              <a href="{{ image.src | product_img_url: 'original' }}" class="cloud-zoom-gallery" rel="useZoom: 'placeholder', smallImage: '{{ image.src | product_img_url: 'grande' }}', tint: '#ffffff'">
                <img src="{{ image.src | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" />
              </a>
            </div>
          {% endfor %}
        </div><
      {% endif %}
    </div>

    <div class="content">
      {% if collection %}
        <div class="more-info clearfix">
          {% if collection.previous_product %}
            <div class="fl">
              <a href="{{ collection.previous_product }}" class="previous_product"><span class="upper">Previous</span> <span class="lower">Product</span></a>
            </div>
          {% endif %}
          {% if collection.next_product %}
            <div class="fr">
              <a href="{{ collection.next_product }}" class="next_product"><span class="upper">Next</span> <span class="lower">Product</span></a>
            </div>
          {% endif %}
        </div>
      {% endif %}
      
      <h2 class="title">{{ product.title }}</h2>
      
      {% if settings.product_description_position == "top" %}
        <div class="description">
          {{ product.description }}
        </div>
        <div class="details"><span class="type">type: {{ product.type | link_to_type }}</span> <span class="vendor">vendor: {{ product.vendor | link_to_vendor }}</span></div>
      {% endif %}
      
      <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
        {% if product.options.size > 1 %}
          <div class="select clearfix">
            <select id="product-select" name='id'>
              {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
          </div>
        {% elsif product.options.size == 1 and product.variants.size > 1 %}
          <div class="select clearfix">
            <label>{{ product.options[0] }}</label>
            <select id="product-select" name='id'>
              {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
          </div>
        {% else %}
          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        {% endif %}
        
        {% if product.price_min < product.compare_at_price_min %}
          <p class="price" id="price-preview">{{ product.price_min | money }} <span>was {{ product.compare_at_price_min | money }}</span></p>
        {% else %}
          <p class="price" id="price-preview">{{ product.price_min | money }}</p>
        {% endif %}
        
        {% if product.available %}        
          <div class="purchase clearfix">
            <span><input type="submit" name="add" id="add-to-cart" value="Add to Cart" class="cart cufon" /></span>
          </div>
        {% else %}
          <div class="purchase clearfix">
            <span><input type="submit" name="add" id="add-to-cart" value="Sold Out" class="cart cufon disabled" disabled="disabled" /></span>
          </div>
        {% endif %}
      </form>
      
      {% if settings.product_description_position == "bottom" %}
        <div class="description">
          {{ product.description }}
        </div>
        <div class="details"><span class="type">type: {{ product.type | link_to_type }}</span> <span class="vendor">by: {{ product.vendor | link_to_vendor }}</span></div>
      {% endif %}      
    </div>
  </div> <!-- /.product_body -->
<!--  
  {% if collection and collection.products.size > 1 %}
  
    <div class="more-info">
      <span class="upper">More Products</span>
      <span class="lower">From This Collection</span>
    </div>
  
    <div class="slider-container">
      <div id="content-scroll" class="scroll">
        <div id="content-slide">
          {% for product in collection.products %}
            {% include 'product-slide-small' %}
          {% endfor %}
        </div><!-- /#latest-products -->
      </div>
<!--
      <div class="slider">
        <span class="ui-slider-handle">&nbsp;</span>
      </div>
    </div>
  {% endif %}

  <div id="recently-viewed" style="display:none;">
    <div class="more-info">
      <span class="upper">Recently</span>
      <span class="lower">Viewed Items</span>
    </div>
    
    <div id="content-table" class="products clearfix">

    </div>
  </div> <!-- /#recently-viewed -->

</div> <!-- /#product -->

<!--
<script type="text/javascript">

// <![CDATA[  
var selectCallback = function(variant, selector) {
  if (variant && variant.available == true) {
    // selected a valid variant
    jQuery('#add-to-cart').removeClass('disabled').removeAttr('disabled').val('Add to Cart'); // remove unavailable class from add-to-cart button, and re-enable button
    if(variant.price < variant.compare_at_price){
      jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{shop.money_format}}") + " <span>was " + Shopify.formatMoney(variant.compare_at_price, "{{shop.money_format}}") + "</span>");
    } else {
      jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{shop.money_format}}"));
    }

  } else {
    // variant doesn't exist
    var message = variant ? "Sold Out" : "Unavailable";    
    jQuery('#add-to-cart').addClass('disabled').attr('disabled', 'disabled').val('Sold Out');      // set add-to-cart button to unavailable class and disable button
    jQuery('#product .variants .price').text(message); // update price-field message
  }
};

function remove(s, t) {
  /*
  **  Remove all occurrences of a token in a string
  **    s  string to be processed
  **    t  token to be removed
  **  returns new string
  */
  i = s.indexOf(t);
  r = "";
  if (i == -1) return s;
  r += s.substring(0,i) + remove(s.substring(i + t.length), t);
  return r;
}

// initialize multi selector for product
jQuery(function() {
  if (jQuery.cookie("viewed-products") != null){ // if cookie exists...
    var products = jQuery.cookie("viewed-products");
    var productHandles = products.split(" ");
    var matches = 0;
    var limit = 3;
    for (var i = (productHandles.length - 1); i >= 0; i--) {
      if(productHandles[i] != "{{ product.handle }}" && productHandles[i] != "" && (matches < limit)){
        Shopify.getProduct(productHandles[i]);
        matches++;
      }
    }

    if (products.indexOf("{{ product.handle }}") == -1){ // add current product to list if it isn't already there
      products += " {{ product.handle }}";
      jQuery.cookie("viewed-products", products, {path: "/"});
    } else { // if it is already there, push it to the end of the string
      var newstring = remove(products, '{{ product.handle }}');
      newstring += " {{ product.handle }}";
      jQuery.cookie("viewed-products", newstring.replace(/ /g,' '), {path: "/"});
    }
  } else { // create cookie if it doesn't already exist
    jQuery.cookie("viewed-products", "{{ product.handle }}", {path: "/"});
  }
  
  {% if product.variants.size > 1 or product.options.size > 1 %}
    new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
  
      {% assign found_one_in_stock = false %}
      {% for variant in product.variants %}
        {% if variant.available and found_one_in_stock == false %}
          {% assign found_one_in_stock = true %}
          {% for option in product.options %}
            jQuery('#product-select-option-' + {{ forloop.index0 }}).val({{ variant.options[forloop.index0] | json }}).trigger('change');
          {% endfor %}
        {% endif %}
      {% endfor %}
  {% endif %}
});
// ]]>
</script>
-->