!!!
%html{:lang => "en"}
  %head
    %title Three-Over-One
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "../assets/favicon.png", :rel => "shortcut icon"}
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    = render partial: 'shared/navbar'
    .container
      .content
        = yield
    = render partial: 'shared/footer'
